{% extends 'template.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <hr>
        </div>
        <div class="row border-dark rounded" style="background-color:rgb(141, 137, 137)">
            <h4>Projeto Nutri</h4>
            <h5>Objetivo é criar uma solução onde a nutricionista possa acompanhar a alimentação do paciente.</h5>
            <a href="{% url 'homenutri'%}" class="btn btn-primary">Acessar projeto</a>
        </div>
        <hr>
        <div class="row border-dark rounded" style="background-color:rgb(141, 137, 137)">
            <h4>Projeto Cha de BEBE</h4>
            <h5>Objetivo é criar uma solução onde possam gerenciar a quantidade de presentes desejados.</h5>
            <a href="{% url 'homecha'%}" class="btn btn-primary">Acessar projeto</a>
        </div>

    </div>


{% endblock %}
