{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />
    <title>14/04 Chá da Maitê</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <!-- Pignose Calender -->
    <link href="{% static 'plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="{% static 'plugins/chartist/css/chartist.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
    <!-- Custom Stylesheet -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
</head>

<body>


        <!--**********************************
            Content body start
        ***********************************-->
    <div class="">
        <div class="row-12 mp-2 mt-3"><!--BARRA DE PROGRESSO POR PERIODO-->
            <div class="col-lg-11 col-md-12">
                <hr>
                Presente: {{presente.nome}}
                <hr>
                <form action="" method="post">{% csrf_token %}
                    <input hidden id ="pres" name = "pres" value = {{presente.id}}>
                    <div class="form-group">
                        <label>Nome e Sobrenome ou Nome do Casal</label>
                        <input type="text" class="form-control" placeholder="" id ="nome" name = "nome" required>
                    </div>
                    <div class="form-group">
                        <label>Quantidade</label>
                        <select id="inputState" class="form-control" id ="qtd" name = "qtd" required>
                            <option selected="selected" value = 1>1 pacote / presente</option>
                            <option value = 2>2 pacote / presente</option>
                            <option value = 3>3 pacote / presente</option>
                            <option value = 4>4 pacote / presente</option>
                            <option value = 5>5 pacote / presente</option>
                            <option value = 6>6 pacote / presente</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Confirmar</button>
                </form>
            </div>
                        
            
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{% static 'plugins/common/common.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/gleek.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script>


    <!-- Chartjs -->
    <script src="{% static 'plugins/chart.js/Chart.bundle.min.js' %}"></script>

    <!-- Circle progress -->
    <script src="{% static 'plugins/circle-progress/circle-progress.min.js' %}"></script>

    <!-- Datamap -->
    <script src="{% static 'plugins/d3v3/index.js' %}"></script>
    <script src="{% static 'plugins/topojson/topojson.min.js' %}"></script>
    <script src="{% static 'plugins/datamaps/datamaps.world.min.js' %}"></script>

    <!-- Morrisjs -->
    <script src="{% static 'plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'plugins/morris/morris.min.js' %}"></script>

    <!-- Pignose Calender -->
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>

    <!-- ChartistJS -->
    <script src="{% static 'plugins/chartist/js/chartist.min.js' %}"></script>
    <script src="{% static 'plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>


    <script src="{% static 'js/dashboard/dashboard-1.js' %}"></script>
</body>

</html>