<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>Inserir Refeições</title>
</head>


<body style="background-color:rgb(214, 218, 218)">

    <div class="container mt-2 ">
        <div class="row">
            <div class="col-3">
                <a href="{% url 'listaRefeicao' %}" class="btn btn-success">Ver Lista</a>
            </div>
        </div>
        <hr>
        {% if message%}
        <div class="row">
            <p>{{message}}</p>
            <div class="row">
                <div class="col">
                    <a href="{% url 'listaRefeicao' %}" class="btn btn-success">Ver lista</a>
                </div>
                <div class="col">
                    <a href="{% url 'inserirRefeicao' %}" class="btn btn-primary">Adicionar Outro</a>
                </div>
            </div>
            
        </div>
        {%else%}
        <div class="container-fluid">
            <form action="" method="post">{% csrf_token %}
                <div class="row mt-2">
                    <label for="textrefeicao">Refeição</label>
                    <textarea type="text" id="textrefeicao" name="textrefeicao" rows="8"></textarea>
                </div>
                <div class="row mt-2">
                    <label for="datarefeicao">Data da Refeição</label>
                    <input type="datetime-local" id="datarefeicao" name="datarefeicao" value="{{now}}"><br><br>
                </div>
                <div class="row mt-3">
                    <input type="submit" value="Submit">
                </div>
                
            </form>
        </div>
        {%endif%}
    </div>


</body>

</html>

<div class="container-fluid">
    <form action="" method="post">

    </form>
</div>