{% extends 'template.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Lista de Refeições</title>
{% endblock %}

{% block navbar %}
{% endblock navbar %}


{% block content %}

{% regroup lista by data_refeicao|date:"d/m/Y" as obd %}
<div class="container-fluid mt-2 ">

    <div class="row ml-auto">
        <form method="get" class="row gy-2 gx-3 align-items-center" action="">
            <div class="col-auto">
                <input class="form-control" type="date" aria-label="date" name="date" value={{date}} autofocus placeholder="dd/mm/aaaa">
            </div>
            <div class="col-auto">
                <select class="form-select" name="id_usuario" id="id_usuario" onchange="this.form.submit()">
                    <option value="">Todos as Pessoas</option>
                    {% for u in users%}
                    {%if u.id == userdefault.id%}
                        <option value={{u.id}} selected>{{u.first_name}}</option>
                    {%else%}
                        <option value={{u.id}}>{{u.first_name}}</option>
                    {%endif%}
                    {% endfor %}
                </select> 
            </div>
            <div class="col-auto">
                <select class="form-select" name="periodo" id="periodo" onchange="this.form.submit()"> 
                    <option value="">Todos os periodos</option>
                    {%for p in periodo%}
                        {%if p.0 == periododefault%}
                            <option value={{p.0}} selected>{{p.1}}</option>
                        {%else%}
                            <option value={{p.0}}>{{p.1}}</option>
                        {%endif%}
                    {%endfor%}

                </select>
            </div>
            <div class="col-auto">
                <a href="{% url 'listaRefeicao' %}" class="form-control btn btn-success btn-sm">Limpar Filtro</a>
            </div>
        </form>
    </div>
    <hr class="mt-1 mb-0">
    {%for dt in obd%}
    <div class="row">
        <div class="col-auto align-items-center">
            <p class="fw-bold mb-0">{{dt.grouper}}</p>
            <p class="">{{dt.list.0.created_at|date:"l" }}</p>
        </div>
        {%for i in dt.list%}

        {%if i.periodo == '0'%}
        <div class="col-auto m-1 border border-1 border-dark rounded" style="background-color:rgb(146, 196, 206)">
            {%endif%}
            {%if i.periodo == '1'%}
            <div class="col-auto m-1 border border-1 border-dark rounded" style="background-color:rgb(235, 216, 154)">
                {%endif%}
                {%if i.periodo == '2'%}
                <div class="col-auto m-1 border border-1 border-dark rounded" style="background-color:rgba(54, 58, 240, 0.425)">
                    {%endif%}
                    {%if i.periodo == '3'%}
                    <div class="col-auto m-1 border border-1 border-dark rounded" style="background-color:rgb(152, 121, 207)">
                        {%endif%}
                        <p class="text-center mt-0 mb-0">{{i.created_by.first_name}}</p>
                        <hr class="mt-0 mb-0">
                        <p class="text-center mt-0 mb-0 fw-bold ">
                            {{i.data_refeicao|date:"H:i"}}
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'editarRefeicao' i.id %}" class="mt-0 mb-0">|E|</a>
                            {%endif%}
                        </p>
                        <p class="mt-0 mb-0">{{i.refeicao|linebreaks}}</p>


                    </div>
                    {%endfor%}
                </div>
                <hr class="mt-0 mb-0">
                {%empty%}
                <p class="text-center mt-0 mb-0 fw-bold text-decoration-underline">Sem Refeições cadastradas para
                    esse dia </p>
                {%endfor%}


            </div>


            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>


            <script>

                $('input[type=date]').change(function () {
                    this.form.submit();
                });

                $('input[type=date]').keypress(function (e) {
                    $(this).off('change blur');

                    $(this).blur(function () {
                        this.form.submit();
                    });

                    if (e.keyCode === 13) {
                        this.form.submit();
                    }
                });


            </script>


            {% endblock %}